@import '../utils/variables.scss';

html,
body {
    margin: 0;
    padding: 0;
}

#root {
    text-align: center;
    min-height: 100vh;
    font-family: $font;
    color: white;
    background-color: $GRIS-FONDO;
}