$ROSA-FUCSIA: #F222BB;
$MORADO: #B948D9;
$VERDE: #93F205;
$AZUL-CLARITO: #59D9D9;
$NARANJA: #F2A649;
$GRIS-FONDO: #545454;
$font: url('https://fonts.googleapis.com/css2?family=Philosopher:ital@0;1&display=swap');

